# Hypothese: gun legalized is the cause for mass shooting

# PART_1: PREPARE DB

In [3]:
import os

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 20)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 12)

### Not supposed to do this: my plan was to scrape all data into 1 csv file but not yet succeeded. Below is a workaround

In [7]:
#read each csv file with pd
df1 = pd.read_csv(os.path.join('Mass_Shooting_1.csv'))
df2 = pd.read_csv(os.path.join('Mass_Shooting_2.csv'))
df3 = pd.read_csv(os.path.join('Mass_Shooting_3.csv'))

In [8]:
#join all dataframe together with pandas concat

frames = [df1, df2, df3]

df123 = pd.concat(frames)

df123

,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,"August 8, 2017",Illinois,Chicago,1 block of East 37th Street,1,6,NaN
1,"August 6, 2017",New York,Bronx,Wickham Ave,0,6,NaN
2,"August 6, 2017",New York,Bronx,Unionport Rd,0,4,NaN
3,"August 6, 2017",California,Oakland,1000 block of 106th Avenue,0,7,NaN
4,"August 5, 2017",New Jersey,Lakewood,900 block of Brook Road,0,4,NaN
5,"August 5, 2017",South Carolina,Allendale,300 block of Ellis St,1,3,NaN
6,"August 5, 2017",Florida,Tallahassee,1939 W Tennessee St,1,3,NaN
7,"August 4, 2017",Montana,Lodge Grass,200 block of North Helen Street,3,2,NaN
8,"August 3, 2017",District of Columbia,Washington,3426 18th St NE,1,3,NaN
9,"August 2, 2017",Indiana,South Bend,2122 Frederickson St,2,2,NaN
...,...,...,...,...,...,...,...
490,"May 30, 2016",California,Sacramento,3900 block of 44th,0,5,NaN
491,"May 29, 2016",New Jersey,Trenton,600 block of Martin Luther King Jr. Boulevard,0,6,NaN
492,"May 29, 2016",Indiana,Indianapolis,300 block of South Meridian Street,0,4,NaN
493,"May 29, 2016",Nevada,Las Vegas,200 block of North 3rd Street,0,4,NaN
494,"May 29, 2016",Texas,Houston,13210 Memorial Drive,2,6,NaN
495,"May 23, 2016",New Jersey,Newark,102 Isabella Avenue,0,5,NaN
496,"May 22, 2016",Louisiana,New Orleans,8639 Apple St,0,4,NaN
497,"May 22, 2016",California,Stockton,Poplar and Sutter Streets,1,3,NaN
498,"May 22, 2016",Tennessee,Nashville,100 block of Rains Avenue,0,4,NaN
499,"May 21, 2016",Georgia,Jackson,Levi Barnes Road,1,3,NaN

In [9]:
Law_df = pd.read_csv(os.path.join('Gun_Law.csv'))
Campus_df = pd.read_csv(os.path.join('Gun_On_Campus.csv'))

In [6]:
Law_And_Campus_df = pd.merge(Law_df, Campus_df, on="State")
Law_And_Campus_df

,State,Unrestricted,Shall-issue,May-issue,No-issue,Non-Resident Permits Available,Permit Reciprocity[26],Campus_Carried
0,Alabama,NaN,Yes,NaN,NaN,No,Yes,Depend
1,Alaska,Yes,Yes,NaN,NaN,No,Yes,Depend
2,Arizona,Yes,Yes,NaN,NaN,Yes,Yes,Depend
3,Arkansas,NaN,Yes,NaN,NaN,No,Yes,Yes
4,California,NaN,NaN,Yes,NaN,No,No,No
5,Colorado,NaN,Yes,NaN,NaN,No,Yes,Yes
6,Connecticut,NaN,NaN,Yes,NaN,Yes,No,Depend
7,Delaware,NaN,NaN,Yes,NaN,Yes,Yes,Depend
8,District of Columbia,NaN,NaN,Yes,NaN,Yes,No,Depend
9,Florida,NaN,Yes,NaN,NaN,Yes,Yes,Limited
...,...,...,...,...,...,...,...,...
40,South Carolina,NaN,Yes,NaN,NaN,Yes,Yes,Limited
41,South Dakota,NaN,Yes,NaN,NaN,No,Yes,Depend
42,Tennessee,NaN,Yes,NaN,NaN,Yes,Yes,Yes
43,Texas,NaN,Yes,NaN,NaN,Yes,Yes,Yes
44,Utah,NaN,Yes,NaN,NaN,Yes,Yes,Yes
45,Vermont,Yes,NaN,NaN,NaN,No,NaN,Depend
46,Virginia,NaN,Yes,NaN,NaN,Yes,Yes,Depend
47,Washington,NaN,Yes,NaN,NaN,Yes,Yes,Depend
48,West Virginia,Yes,Yes,NaN,NaN,No,Yes,Depend
49,Wisconsin,NaN,Yes,NaN,NaN,No,Yes,No

In [7]:
df = pd.merge(df123, Law_And_Campus_df, on="State")
df

,Incident Date,State,City Or County,Address,# Killed,# Injured,...,Shall-issue,May-issue,No-issue,Non-Resident Permits Available,Permit Reciprocity[26],Campus_Carried
0,"August 8, 2017",Illinois,Chicago,1 block of East 37th Street,1,6,...,Yes,NaN,NaN,Yes,Yes,No
1,"August 1, 2017",Illinois,Chicago,800 block of N Monticello Ave,0,4,...,Yes,NaN,NaN,Yes,Yes,No
2,"July 31, 2017",Illinois,Decatur,Jasper St and Main St,0,4,...,Yes,NaN,NaN,Yes,Yes,No
3,"July 27, 2017",Illinois,Chicago,2000 block of E 71st St,1,4,...,Yes,NaN,NaN,Yes,Yes,No
4,"July 23, 2017",Illinois,Chicago,1500 block of East 82nd St,1,3,...,Yes,NaN,NaN,Yes,Yes,No
5,"July 15, 2017",Illinois,Chicago,12200 block of S Throop St,0,4,...,Yes,NaN,NaN,Yes,Yes,No
6,"July 8, 2017",Illinois,Alton,700 block of Oakwood,0,4,...,Yes,NaN,NaN,Yes,Yes,No
7,"July 5, 2017",Illinois,Chicago (Roseland),11000 block of S Eberhart,2,2,...,Yes,NaN,NaN,Yes,Yes,No
8,"July 1, 2017",Illinois,Momence,2727 S 13000 Rd E,0,4,...,Yes,NaN,NaN,Yes,Yes,No
9,"June 27, 2017",Illinois,Chicago,200 block of S Lotus,0,5,...,Yes,NaN,NaN,Yes,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1490,"June 8, 2016",Massachusetts,Boston,66 Washington St,1,3,...,NaN,Yes,NaN,Yes,No,No
1491,"June 29, 2016",Nevada,Las Vegas,6100 block of West Lake Mead Boulevard,5,0,...,Yes,NaN,NaN,Yes,Yes,Depend
1492,"May 29, 2016",Nevada,Las Vegas,200 block of North 3rd Street,0,4,...,Yes,NaN,NaN,Yes,Yes,Depend
1493,"June 29, 2016",Nevada,Las Vegas,6100 block of West Lake Mead Boulevard,5,0,...,Yes,NaN,NaN,Yes,Yes,Depend
1494,"May 29, 2016",Nevada,Las Vegas,200 block of North 3rd Street,0,4,...,Yes,NaN,NaN,Yes,Yes,Depend
1495,"June 29, 2016",Nevada,Las Vegas,6100 block of West Lake Mead Boulevard,5,0,...,Yes,NaN,NaN,Yes,Yes,Depend
1496,"May 29, 2016",Nevada,Las Vegas,200 block of North 3rd Street,0,4,...,Yes,NaN,NaN,Yes,Yes,Depend
1497,"June 27, 2016",Oregon,Woodburn,13436 Killiam Loop NE,3,1,...,Yes,NaN,NaN,Yes,No,No
1498,"June 27, 2016",Oregon,Woodburn,13436 Killiam Loop NE,3,1,...,Yes,NaN,NaN,Yes,No,No
1499,"June 27, 2016",Oregon,Woodburn,13436 Killiam Loop NE,3,1,...,Yes,NaN,NaN,Yes,No,No

# PART_2: EDA

In [8]:
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

from sklearn import preprocessing, neighbors, model_selection, feature_selection, linear_model
from sklearn import metrics
from IPython.display import Image
from sklearn.cross_validation import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, classification_report, roc_auc_score, roc_curve
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.datasets import make_classification
import statsmodels.api as sm
import statsmodels.formula.api as smf
import scipy.stats as stats
import seaborn as sns
import math

/Users/maxie/anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/maxie/anaconda/lib/python2.7/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

### Feature Engineering: create incident year & month columns from incident date

In [9]:
df['Year'] = pd.DatetimeIndex(df['Incident Date']).year
df['Month'] = pd.DatetimeIndex(df['Incident Date']).month

In [10]:
#Clean up data by removing unnessary column
del df['Incident Date']
del df['Operations']
del df['Address']
df

,State,City Or County,# Killed,# Injured,Unrestricted,Shall-issue,...,No-issue,Non-Resident Permits Available,Permit Reciprocity[26],Campus_Carried,Year,Month
0,Illinois,Chicago,1,6,NaN,Yes,...,NaN,Yes,Yes,No,2017,8
1,Illinois,Chicago,0,4,NaN,Yes,...,NaN,Yes,Yes,No,2017,8
2,Illinois,Decatur,0,4,NaN,Yes,...,NaN,Yes,Yes,No,2017,7
3,Illinois,Chicago,1,4,NaN,Yes,...,NaN,Yes,Yes,No,2017,7
4,Illinois,Chicago,1,3,NaN,Yes,...,NaN,Yes,Yes,No,2017,7
5,Illinois,Chicago,0,4,NaN,Yes,...,NaN,Yes,Yes,No,2017,7
6,Illinois,Alton,0,4,NaN,Yes,...,NaN,Yes,Yes,No,2017,7
7,Illinois,Chicago (Roseland),2,2,NaN,Yes,...,NaN,Yes,Yes,No,2017,7
8,Illinois,Momence,0,4,NaN,Yes,...,NaN,Yes,Yes,No,2017,7
9,Illinois,Chicago,0,5,NaN,Yes,...,NaN,Yes,Yes,No,2017,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1490,Massachusetts,Boston,1,3,NaN,NaN,...,NaN,Yes,No,No,2016,6
1491,Nevada,Las Vegas,5,0,NaN,Yes,...,NaN,Yes,Yes,Depend,2016,6
1492,Nevada,Las Vegas,0,4,NaN,Yes,...,NaN,Yes,Yes,Depend,2016,5
1493,Nevada,Las Vegas,5,0,NaN,Yes,...,NaN,Yes,Yes,Depend,2016,6
1494,Nevada,Las Vegas,0,4,NaN,Yes,...,NaN,Yes,Yes,Depend,2016,5
1495,Nevada,Las Vegas,5,0,NaN,Yes,...,NaN,Yes,Yes,Depend,2016,6
1496,Nevada,Las Vegas,0,4,NaN,Yes,...,NaN,Yes,Yes,Depend,2016,5
1497,Oregon,Woodburn,3,1,NaN,Yes,...,NaN,Yes,No,No,2016,6
1498,Oregon,Woodburn,3,1,NaN,Yes,...,NaN,Yes,No,No,2016,6
1499,Oregon,Woodburn,3,1,NaN,Yes,...,NaN,Yes,No,No,2016,6

In [11]:
del df['City Or County']

In [12]:
df = df.rename(index=str, columns={"# Killed": "Number_Killed", "# Injured": "Number_Injured","Permit Reciprocity[26]": "Permit Reciprocity"})

In [13]:
df

,State,Number_Killed,Number_Injured,Unrestricted,Shall-issue,May-issue,No-issue,Non-Resident Permits Available,Permit Reciprocity,Campus_Carried,Year,Month
0,Illinois,1,6,NaN,Yes,NaN,NaN,Yes,Yes,No,2017,8
1,Illinois,0,4,NaN,Yes,NaN,NaN,Yes,Yes,No,2017,8
2,Illinois,0,4,NaN,Yes,NaN,NaN,Yes,Yes,No,2017,7
3,Illinois,1,4,NaN,Yes,NaN,NaN,Yes,Yes,No,2017,7
4,Illinois,1,3,NaN,Yes,NaN,NaN,Yes,Yes,No,2017,7
5,Illinois,0,4,NaN,Yes,NaN,NaN,Yes,Yes,No,2017,7
6,Illinois,0,4,NaN,Yes,NaN,NaN,Yes,Yes,No,2017,7
7,Illinois,2,2,NaN,Yes,NaN,NaN,Yes,Yes,No,2017,7
8,Illinois,0,4,NaN,Yes,NaN,NaN,Yes,Yes,No,2017,7
9,Illinois,0,5,NaN,Yes,NaN,NaN,Yes,Yes,No,2017,6
...,...,...,...,...,...,...,...,...,...,...,...,...
1490,Massachusetts,1,3,NaN,NaN,Yes,NaN,Yes,No,No,2016,6
1491,Nevada,5,0,NaN,Yes,NaN,NaN,Yes,Yes,Depend,2016,6
1492,Nevada,0,4,NaN,Yes,NaN,NaN,Yes,Yes,Depend,2016,5
1493,Nevada,5,0,NaN,Yes,NaN,NaN,Yes,Yes,Depend,2016,6
1494,Nevada,0,4,NaN,Yes,NaN,NaN,Yes,Yes,Depend,2016,5
1495,Nevada,5,0,NaN,Yes,NaN,NaN,Yes,Yes,Depend,2016,6
1496,Nevada,0,4,NaN,Yes,NaN,NaN,Yes,Yes,Depend,2016,5
1497,Oregon,3,1,NaN,Yes,NaN,NaN,Yes,No,No,2016,6
1498,Oregon,3,1,NaN,Yes,NaN,NaN,Yes,No,No,2016,6
1499,Oregon,3,1,NaN,Yes,NaN,NaN,Yes,No,No,2016,6

In [14]:
df[df.State == 'Oregon'].count()

State                              3
Number_Killed                      3
Number_Injured                     3
Unrestricted                       0
Shall-issue                        3
May-issue                          0
No-issue                           0
Non-Resident\nPermits Available    3
Permit Reciprocity                 3
Campus_Carried                     3
Year                               3
Month                              3
dtype: int64

In [15]:
# This is a mistake i made: df.drop_duplicates(subset=['State'])
# I thought they are duplicated but they are actual value for different date of that month/year

In [16]:
#check back to the original dataframe

df123[df123.State == 'Oregon'].count()

Incident Date     3
State             3
City Or County    3
Address           3
# Killed          3
# Injured         3
Operations        0
dtype: int64

In [17]:
df.groupby([df['State'],df['Year']]).sum()

                 Number_Killed  Number_Injured  Month
State      Year
Alabama    2016             21              69    174
           2017              9              57     48
Arizona    2016             12              30     39
           2017              0              24     36
Arkansas   2016              6              36     81
           2017              6             105     42
California 2016             93             465    960
           2017             54             264    267
Colorado   2016             15               9     42
           2017              9               3      3
...                        ...             ...    ...
Tennessee  2017              9              96     60
Texas      2016            111             285    669
           2017             57             147    162
Utah       2017              9               6     18
Virginia   2016             15              93    162
           2017             15             120    144
Washington 2016             42              39    144
           2017              0              18     24
Wisconsin  2016              6               6     24
           2017             15              12     30

[72 rows x 3 columns]

In [18]:
pd.crosstab(df["Number_Killed"], 
                    [df["Permit Reciprocity"],df["Campus_Carried"]])

Permit Reciprocity     No         Yes
Campus_Carried     Depend   No Depend Limited   No Yes
Number_Killed
0                      51  165    123     102  174  99
1                       9   87     57      60  105  87
2                      12   27     27      24   48  33
3                       6   12     33      15   24  24
4                       0    6      3       6   24  15
5                       0    3     12       3    9   6
6                       0    0      0       3    0   0
8                       0    0      0       0    3   0
50                      0    0      0       3    0   0

In [19]:
pd.crosstab(df["Number_Injured"], 
                    [df["Permit Reciprocity"],df["Campus_Carried"]])

Permit Reciprocity     No         Yes
Campus_Carried     Depend   No Depend Limited   No  Yes
Number_Injured
0                       0    3     12       6   24   12
1                       0    6     24      12   15   21
2                       9   27     27       9   45   21
3                       9   63     36      39   60   48
4                      33  114     90      81  147  102
5                      15   48     30      36   54   21
6                       0   18     21      12   18   21
7                       6   12      6      12    3    9
8                       3    3      0       3    9    0
9                       0    0      0       0    9    3
10                      0    0      6       0    0    3
11                      0    3      0       0    0    0
12                      0    0      3       0    0    0
13                      3    0      0       0    0    0
14                      0    3      0       0    0    0
15                      0    0      0       0    3    0
19                      0    0      0       3    0    0
25                      0    0      0       0    0    3
53                      0    0      0       3    0    0

In [28]:
df['c'] = (df['Permit Reciprocity'] == "Yes")*1
df.c

0       1
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1
       ..
1490    0
1491    1
1492    1
1493    1
1494    1
1495    1
1496    1
1497    0
1498    0
1499    0
Name: c, Length: 1500, dtype: int64

In [26]:
df['d'] = (df['Campus_Carried'] == "Yes")*1
df.d

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
       ..
1490    0
1491    0
1492    0
1493    0
1494    0
1495    0
1496    0
1497    0
1498    0
1499    0
Name: d, Length: 1500, dtype: int64

In [27]:
df.corr()

,Number_Killed,Number_Injured,Year,Month,c,d
Number_Killed,1.000000,0.425264,-0.011504,-0.034670,0.091383,0.015431
Number_Injured,0.425264,1.000000,-0.031584,0.019522,-0.025952,-0.019269
Year,-0.011504,-0.031584,1.000000,-0.689035,0.080558,-0.038004
Month,-0.034670,0.019522,-0.689035,1.000000,-0.086747,-0.042924
c,0.091383,-0.025952,0.080558,-0.086747,1.000000,0.268252
d,0.015431,-0.019269,-0.038004,-0.042924,0.268252,1.000000