In [3]:
import os

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

import statsmodels.api as sm
import statsmodels.formula.api as smf

from sklearn import feature_selection, linear_model

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [9]:
df = pd.read_csv(os.path.join('dataset-13-walget-train.csv'))
df

,AccountHolderImpliedGender,AccountHolderAddress,RecentlyPurchasedPregnancyTest,RecentlyPurchasedBirthControl,RecentlyPurchasedFeminineHygieneProducts,...,RecentlyPurchasedSmokingCessationProducts,PurchasedWineRegularlyUntilRecentlyThenStopped,RecentlyPurchasedWine,RecentlyPurchasedMaternityClothing,IsPregnant
0,Female,Home,False,False,NaN,...,False,True,False,False,True
1,Female,PO Box,False,False,False,...,False,False,False,False,True
2,Male,Apartment,False,True,False,...,False,False,False,False,False
3,Male,Home,False,False,False,...,False,False,False,False,True
4,Female,PO Box,False,False,False,...,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
595,Male,Home,False,False,False,...,NaN,False,False,False,False
596,Female,Home,True,False,False,...,False,False,False,False,True
597,Male,Apartment,False,False,False,...,False,False,False,False,True
598,Male,Home,False,False,False,...,False,False,False,False,True
599,Male,Home,True,False,False,...,False,False,False,True,True

In [10]:
df.columns

Index([u'AccountHolderImpliedGender', u'AccountHolderAddress',
       u'RecentlyPurchasedPregnancyTest', u'RecentlyPurchasedBirthControl',
       u'RecentlyPurchasedFeminineHygieneProducts',
       u'RecentlyPurchasedFolicAcidSupplements',
       u'RecentlyPurchasedPrenatalVitamins',
       u'RecentlyPurchasedPrenatalYogaDVD', u'RecentlyPurchasedBodyPillow',
       u'RecentlyPurchasedGingerAle', u'RecentlyPurchasedSeaBands',
       u'PurchasedCigarettesRegularlyUntilRecentlyThenStopped',
       u'RecentlyPurchasedCigarettes',
       u'RecentlyPurchasedSmokingCessationProducts',
       u'PurchasedWineRegularlyUntilRecentlyThenStopped',
       u'RecentlyPurchasedWine', u'RecentlyPurchasedMaternityClothing',
       u'IsPregnant'],
      dtype='object')

In [11]:
df.count()

AccountHolderImpliedGender                        542
AccountHolderAddress                              594
RecentlyPurchasedPregnancyTest                    594
RecentlyPurchasedBirthControl                     593
RecentlyPurchasedFeminineHygieneProducts          590
                                                 ...
RecentlyPurchasedSmokingCessationProducts         588
PurchasedWineRegularlyUntilRecentlyThenStopped    588
RecentlyPurchasedWine                             592
RecentlyPurchasedMaternityClothing                597
IsPregnant                                        600
Length: 18, dtype: int64

In [69]:
from IPython.display import Image
from sklearn.cross_validation import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, classification_report, roc_auc_score, roc_curve
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.datasets import make_classification;

/Users/maxie/anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [77]:
df = df.drop('AccountHolderImpliedGender',1)
df

,RecentlyPurchasedPregnancyTest,RecentlyPurchasedBirthControl,RecentlyPurchasedFeminineHygieneProducts,RecentlyPurchasedFolicAcidSupplements,RecentlyPurchasedPrenatalVitamins,...,RecentlyPurchasedSmokingCessationProducts,PurchasedWineRegularlyUntilRecentlyThenStopped,RecentlyPurchasedWine,RecentlyPurchasedMaternityClothing,IsPregnant
0,False,False,NaN,False,True,...,False,True,False,False,True
1,False,False,False,False,False,...,False,False,False,False,True
2,False,True,False,False,False,...,False,False,False,False,False
3,False,False,False,False,True,...,False,False,False,False,True
4,False,False,False,False,False,...,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
595,False,False,False,False,False,...,NaN,False,False,False,False
596,True,False,False,True,False,...,False,False,False,False,True
597,False,False,False,True,False,...,False,False,False,False,True
598,False,False,False,False,False,...,False,False,False,False,True
599,True,False,False,True,False,...,False,False,False,True,True

In [74]:
df

,AccountHolderImpliedGender,RecentlyPurchasedPregnancyTest,RecentlyPurchasedBirthControl,RecentlyPurchasedFeminineHygieneProducts,RecentlyPurchasedFolicAcidSupplements,...,RecentlyPurchasedSmokingCessationProducts,PurchasedWineRegularlyUntilRecentlyThenStopped,RecentlyPurchasedWine,RecentlyPurchasedMaternityClothing,IsPregnant
0,Female,False,False,NaN,False,...,False,True,False,False,True
1,Female,False,False,False,False,...,False,False,False,False,True
2,Male,False,True,False,False,...,False,False,False,False,False
3,Male,False,False,False,False,...,False,False,False,False,True
4,Female,False,False,False,False,...,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
595,Male,False,False,False,False,...,NaN,False,False,False,False
596,Female,True,False,False,True,...,False,False,False,False,True
597,Male,False,False,False,True,...,False,False,False,False,True
598,Male,False,False,False,False,...,False,False,False,False,True
599,Male,True,False,False,True,...,False,False,False,True,True

In [ ]:
AccountHolderImpliedGender

In [83]:
X = df.drop("IsPregnant", axis=1)
y = df.IsPregnant

#Intialize, fit, and score the model
lr = LogisticRegression()

lr.fit(X,y)

score = lr.score(X,y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [80]:
df.dropna()

,RecentlyPurchasedPregnancyTest,RecentlyPurchasedBirthControl,RecentlyPurchasedFeminineHygieneProducts,RecentlyPurchasedFolicAcidSupplements,RecentlyPurchasedPrenatalVitamins,...,RecentlyPurchasedSmokingCessationProducts,PurchasedWineRegularlyUntilRecentlyThenStopped,RecentlyPurchasedWine,RecentlyPurchasedMaternityClothing,IsPregnant
1,False,False,False,False,False,...,False,False,False,False,True
2,False,True,False,False,False,...,False,False,False,False,False
3,False,False,False,False,True,...,False,False,False,False,True
4,False,False,False,False,False,...,False,False,False,False,False
5,False,True,False,False,False,...,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
592,False,False,False,False,True,...,False,False,False,False,True
593,False,False,True,False,False,...,False,False,False,False,False
596,True,False,False,True,False,...,False,False,False,False,True
597,False,False,False,True,False,...,False,False,False,False,True
599,True,False,False,True,False,...,False,False,False,True,True

In [55]:
df

,AccountHolderImpliedGender,AccountHolderAddress,RecentlyPurchasedPregnancyTest,RecentlyPurchasedBirthControl,RecentlyPurchasedFeminineHygieneProducts,...,RecentlyPurchasedSmokingCessationProducts,PurchasedWineRegularlyUntilRecentlyThenStopped,RecentlyPurchasedWine,RecentlyPurchasedMaternityClothing,IsPregnant
0,Female,Home,False,False,NaN,...,False,True,False,False,True
1,Female,PO Box,False,False,False,...,False,False,False,False,True
2,Male,Apartment,False,True,False,...,False,False,False,False,False
3,Male,Home,False,False,False,...,False,False,False,False,True
4,Female,PO Box,False,False,False,...,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
595,Male,Home,False,False,False,...,NaN,False,False,False,False
596,Female,Home,True,False,False,...,False,False,False,False,True
597,Male,Apartment,False,False,False,...,False,False,False,False,True
598,Male,Home,False,False,False,...,False,False,False,False,True
599,Male,Home,True,False,False,...,False,False,False,True,True

In [75]:
Gender_Df = pd.get_dummies(df.AccountHolderImpliedGender,prefix = 'Gender')
Gender_Df

     Gender_Female  Gender_Male
0                1            0
1                1            0
2                0            1
3                0            1
4                1            0
..             ...          ...
595              0            1
596              1            0
597              0            1
598              0            1
599              0            1

[600 rows x 2 columns]

In [59]:
pd.crosstab(df["IsPregnant"], 
                    [df["RecentlyPurchasedPregnancyTest"], df["RecentlyPurchasedBirthControl"]])

RecentlyPurchasedPregnancyTest False       True
RecentlyPurchasedBirthControl  False True  False True
IsPregnant
False                            220    68     2     2
True                             249     6    40     1

In [24]:
Ptest_df = pd.get_dummies(df.RecentlyPurchasedPregnancyTest,prefix = 'PTest')
Ptest_df

     PTest_False  PTest_True
0              1           0
1              1           0
2              1           0
3              1           0
4              1           0
..           ...         ...
595            1           0
596            0           1
597            1           0
598            1           0
599            0           1

[600 rows x 2 columns]

In [67]:
df.drop('AccountHolderAddress',1)

ValueError: labels ['AccountHolderAddress'] not contained in axis

In [65]:
df

,AccountHolderImpliedGender,RecentlyPurchasedPregnancyTest,RecentlyPurchasedBirthControl,RecentlyPurchasedFeminineHygieneProducts,RecentlyPurchasedFolicAcidSupplements,...,RecentlyPurchasedSmokingCessationProducts,PurchasedWineRegularlyUntilRecentlyThenStopped,RecentlyPurchasedWine,RecentlyPurchasedMaternityClothing,IsPregnant
0,Female,False,False,NaN,False,...,False,True,False,False,True
1,Female,False,False,False,False,...,False,False,False,False,True
2,Male,False,True,False,False,...,False,False,False,False,False
3,Male,False,False,False,False,...,False,False,False,False,True
4,Female,False,False,False,False,...,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
595,Male,False,False,False,False,...,NaN,False,False,False,False
596,Female,True,False,False,True,...,False,False,False,False,True
597,Male,False,False,False,True,...,False,False,False,False,True
598,Male,False,False,False,False,...,False,False,False,False,True
599,Male,True,False,False,True,...,False,False,False,True,True

In [30]:
pd.crosstab(df.IsPregnant,df.RecentlyPurchasedFeminineHygieneProducts,dropna = False)

RecentlyPurchasedFeminineHygieneProducts  False  True
IsPregnant
False                                       227     71
True                                        275     17

In [34]:
df.corr(df.IsPregnant,df.RecentlyPurchasedFeminineHygieneProducts)

TypeError: invalid type comparison

In [23]:
smf.ols(formula = 'IsPregnant ~ ', data = df).fit().summary()

SyntaxError: invalid syntax (<ipython-input-23-153bcce97528>, line 1)

In [35]:
X = df.values[:,1:]
y = df.values[:,0:]
X_train,X_Test,y_train,y_test = train_test_split(X,y,test_size = 3, random_State = 4)

NameError: name 'train_test_split' is not defined

In [36]:
train_df = df.sample(frac=.7,random_state=4).sort_index()

In [48]:
test_df = df.drop(train_df.index)

In [51]:
train_df['y'] = train_df.IsPregnant
train_df['x'] = train_df.RecentlyPurchasedFeminineHygieneProducts

In [52]:
def X_linear (df):
    X = df[['x']]
    return X

model = linear_model.LinearRegression().fit(X_linear(train_df),train_df.y)


print model_linear.intercept_
print model_linear.coef_

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [47]:
df.IsPregnant.groupby(df.AccountHolderImpliedGender)