# DS-SF-36 | 14 | Trees | Codealong | Starter Code

In [5]:
import os

import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 50)

import math

## Part A | The 2008 Democratic Primaries

(dataset adapted from http://www.stat.ucla.edu/~cocteau/primaries.csv)

In [2]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-14-2008-democrat-primaries.csv'))

In [4]:
df

,fips,county_name,state_postal,region,election_date,...,Construction,Manufacturing,FinancialActivities,GoodsProducing,ServiceProviding
0,1001,Autauga,AL,S,2/5/08,...,6.797467,17.577510,5.366229,26.776236,73.223764
1,1003,Baldwin,AL,S,2/5/08,...,10.558143,9.230177,7.923872,21.282357,78.717643
2,1005,Barbour,AL,S,2/5/08,...,2.501616,45.067103,3.379843,51.275520,48.724480
3,1007,Bibb,AL,S,2/5/08,...,20.750603,15.723631,3.477562,42.557099,57.442901
4,1009,Blount,AL,S,2/5/08,...,9.754604,22.763883,4.300316,34.129339,65.870661
...,...,...,...,...,...,...,...,...,...,...,...
2256,56037,Sweetwater,WY,W,3/8/08,...,9.959176,6.269186,4.383050,42.670654,57.329346
2257,56039,Teton,WY,W,3/8/08,...,13.685720,0.751867,5.465895,14.914934,85.085066
2258,56041,Uinta,WY,W,3/8/08,...,16.410946,3.505822,5.170457,32.132498,67.867502
2259,56043,Washakie,WY,W,3/8/08,...,9.949833,13.033027,6.323161,34.040552,65.959448
2260,56045,Weston,WY,W,3/8/08,...,7.336489,7.766781,5.249570,33.584337,66.415663

In [3]:
df.columns

Index([u'fips', u'county_name', u'state_postal', u'region', u'election_date',
       u'racetype', u'tvotes', u'clinton', u'obama', u'edwards', u'margin',
       u'winner', u'POP05_SQMI', u'popUnder30_00', u'pop65up_00',
       u'presVote04', u'kerry04', u'Bush04', u'pres04margin', u'pres04winner',
       u'pop06', u'pop00', u'hisp06', u'white06', u'black06', u'indian06',
       u'asian06', u'hawaii06', u'mixed06', u'pct_less_30k', u'pct_more_100k',
       u'pct_hs_grad', u'pct_labor_force', u'pct_homeowner', u'unempFeb07',
       u'unempFeb08', u'unempChg', u'pctUnins00', u'subForPctHomes',
       u'poverty05', u'median_hhi05', u'Catholic', u'So.Bapt.Conv',
       u'Un.Methodist', u'E.L.C.A.', u'Construction', u'Manufacturing',
       u'FinancialActivities', u'GoodsProducing', u'ServiceProviding'],
      dtype='object')

In [14]:
df.winner

0         obama
1       clinton
2         obama
3       clinton
4       clinton
         ...
2256    clinton
2257      obama
2258      obama
2259      obama
2260    clinton
Name: winner, Length: 2261, dtype: object

In [16]:
df.winner.unique()

array(['obama', 'clinton', nan], dtype=object)

In [19]:
df.winner.value_counts()

clinton    1210
obama      1031
Name: winner, dtype: int64

In [20]:
#to get the count of Nan value, add dropna=False like below

df.winner.value_counts(dropna=False)

clinton    1210
obama      1031
NaN          20
Name: winner, dtype: int64

In [54]:
#assign value 1 to row that have value obama in column winner

df['c'] = (df.winner == 'obama')*1.
df.c

0       1.0
1       0.0
2       1.0
3       0.0
4       0.0
       ...
2256    0.0
2257    1.0
2258    1.0
2259    1.0
2260    0.0
Name: c, Length: 2261, dtype: float64

### First cut: Is a county more than 20% black?

In [ ]:
#Finding counties that have more or less than 20% black population

In [23]:
df.black06

0        8559.0
1       16301.0
2       13035.0
3        4705.0
4         872.0
         ...
2256      347.0
2257       39.0
2258       20.0
2259        8.0
2260        9.0
Name: black06, Length: 2261, dtype: float64

In [28]:
df['pct_black06'] = df.black06 / df.pop06
df['pct_black06']

0       0.172109
1       0.096363
2       0.462710
3       0.219021
4       0.015451
          ...
2256    0.008952
2257    0.002022
2258    0.000989
2259    0.001023
2260    0.001331
Name: pct_black06, Length: 2261, dtype: float64

#### First cut/right node

In [ ]:
#creating the subset data that has only >20% black. Hand calculated. We can use lamba to get this. See answer key

In [41]:
parent_df = df

In [42]:
left_child_df = parent_df[parent_df.pct_black06  <=.2]
len(left_child_df)

1810

In [43]:
right_child_df = parent_df[parent_df.pct_black06  >.2]
len(right_child_df)

450

In [44]:
right_child_df = parent_df.drop(left_child_df.index)

In [45]:
right_child_df.index

Int64Index([   2,    3,    5,    6,    8,   11,   12,   17,   18,   20,
            ...
            2107, 2110, 2111, 2112, 2114, 2116, 2118, 2119, 2122, 2206],
           dtype='int64', length=451)

In [46]:
def obama_vs_clinton(df):
    obama = (df.c == 1).sum()
    clinton = (df.c == 0).sum()
    if obama > clinton:
        print 'Obama wins these counties {} to {}.'.format(obama, clinton)
    elif clinton > obama:
        print 'Clinton wins these counties {} to {}.'.format(clinton, obama)
    else:
        print 'Obama and Clinton tie in these counties {} {}.'.format(obama, clinton)

In [47]:
obama_vs_clinton(right_child_df)

Obama wins these counties 381 to 70.

### Second cut: Is high school graduation rate higher than 78%?

In [48]:
df.pct_hs_grad

0       0.7872
1       0.8202
2       0.6465
3       0.6319
4       0.7045
         ...
2256    0.8737
2257    0.9471
2258    0.8476
2259    0.8562
2260    0.8520
Name: pct_hs_grad, Length: 2261, dtype: float64

In [64]:
left_child_df = parent_df[parent_df.pct_hs_grad <= 78]
right_child_df = parent_df.drop(left_child_df.index)

In [65]:
def obama_vs_clinton(df):
    obama = (df.c == 1).sum()
    clinton = (df.c == 0).sum()
    if obama > clinton:
        print 'Obama wins these counties {} to {}.'.format(obama, clinton)
    elif clinton > obama:
        print 'Clinton wins these counties {} to {}.'.format(clinton, obama)
    else:
        print 'Obama and Clinton tie in these counties {} {}.'.format(obama, clinton)

In [66]:
obama_vs_clinton(left_child_df)

Clinton wins these counties 1230 to 1029.

### Third cut: Is high school graduation rate higher than 87%?

In [69]:
left_child_df = parent_df[parent_df.pct_hs_grad <.87]
right_child_df = parent_df.drop(left_child_df.index)

In [75]:
def obama_vs_clinton (df):
    obama = (df.c ==1).sum()
    clinton = (df.c == 0).sum()
    if obama > clinton:
        print 'Obama wins these counties {} to {}.'.format(obama, clinton)
    elif clinton > obama:
        print 'Clinton wins these counties {} to {}.'.format(clinton, obama)
    else:
        print 'Obama and Clinton tie in these counties {} {}.'.format(obama, clinton)

In [76]:
obama_vs_clinton(right_child_df)

Obama wins these counties 183 to 36.

## Part B | Building the 2008 Democratic Primaries Decision Tree by Hand

In [ ]:
class Node:

    @staticmethod
    def root(root_df):
        cs = sorted(set(root_df.c))
        return Node(cs, root_df)

    def decision(self, left_filter):
        # Collect the observations for which the decision split is true and
        # create the corresponding left node

        left_filter = left_filter(self.df)
        left_df = self.df[left_filter]
        self.left = Node(self.cs, left_df)

        # Same thing on the right side but for the observations that don't
        # satisfy the decision split (the "else")

        right_df = self.df.drop(left_df.index)
        self.right = Node(self.cs, right_df)

        # The entropy after the decision split is the weighted average of the
        # children entropy

        self.after = (self.left.samples * self.left.before
                      + self.right.samples * self.right.before) / self.samples

        # The information gain corresponds to the entropy lost between the
        # parent node (this node and the "before") and its child (the "after")

        self.information_gain = self.before - self.after

        return self

    def __init__(self, cs, df):
        self.cs = cs
        self.df = df

        # Counts of the remaining observations in the subspace per classes
        self.counts = [(self.df.c == c).sum() for c in self.cs]

        # Number of observations in the subspace
        self.samples = sum(self.counts)

        # For empty subspaces, probabilties and entropy are set to zero
        if self.samples == 0:
            self.probabilities = [.0 for count in self.counts]
            self.before = .0
        else:
            self.probabilities = [1. * count / self.samples for count in self.counts]
            self.before = - sum(map(lambda p: p * math.log(p, 2),
                                    filter(lambda p : p > .0, self.probabilities)))

    def status(self):
        print 'classes                       =', self.cs
        print 'before:'
        print "\tparent:"
        print "\t\tsamples       =", self.samples
        print "\t\tcounts        =", self.counts
        print "\t\tprobabilities =", self.probabilities
        print "\t\tentropy       =", self.before
        print 'after:'
        print "\tleft child:"
        print "\t\tsamples       =", self.left.samples
        print "\t\tcounts        =", self.left.counts
        print "\t\tprobabilities =", self.left.probabilities
        print "\t\tentropy       =", self.left.before
        print "\tright child:"
        print "\t\tsamples       =", self.right.samples
        print "\t\tcounts        =", self.right.counts
        print "\t\tprobabilities =", self.right.probabilities
        print "\t\tentropy       =", self.right.before
        print
        print 'before entropy                =', self.before
        print 'after entropy                 =', self.after
        print 'information gain              =', self.information_gain

In [77]:
df.c = df.winner

### First cut

In [ ]:
# TODO

#### Candidate #1: Is a county more than 20% black?

In [ ]:
# TODO

#### Candidate #2: Is high school graduation rate higher than 78%?

In [ ]:
# TODO

#### Candidate #3: Is high school graduation rate higher than 87%?

In [ ]:
# TODO

### Second cut

In [ ]:
# TODO

### Third cut

In [ ]:
# TODO